<div class="header">
      <div class="container">
        <div class="row">
        	<div class="col-md-6">
          	<ul class="nav">
            		<li>Welcome </li>
          			<li>Portfolio </li>
            		<li>Blog </li>
            		<li>About </li>
            		<li>Contact </li>
        		</ul>
        	</div>  
      
        	<div class="col-md-4">
        		<ul class="nav">
            	<li>My Name </li>
        		</ul>
          </div>
        </div>
  		</div>
    </div>

    <div class="jumbotron">
      <div class="container">  
        <div class="main">
          <h1>I am a web developer</h1>
            <a class="btn" href="#"> See my work </a>
        </div>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <div class="col">
          <img src="http://s3.amazonaws.com/codecademy-content/projects/broadway/design.svg">
          <h2>Design</h2>
          <p>Make your projects look great and interact beautifully.</p>
          <a class="btn" href="#"> Learn More </a>
        </div>
        <div class="col">
          <img src="http://s3.amazonaws.com/codecademy-content/projects/broadway/develop.svg">
          <h2>Develop</h2>
          <p>Use modern tools to turn your design into a web site</p>
          <a class="btn" href="#"> Learn More </a>
        </div>
        <div class="col">
          <img src="http://s3.amazonaws.com/codecademy-content/projects/broadway/deploy.svg">
          <h2>Deploy</h2>
          <p>Use modern tools to turn your design into a web site</p>
          <a class="btn" href="#"> Learn More </a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    

    <div class="footer">  
      <div class="container">
        <a href="https://www.facebook.com/sanjay.madan.5682"><%= image_tag "Facebook_Logotype_Button_24.png" %></a>
        <a href="https://www.linkedin.com/pub/sanjay-madan/1/267/981"><%= image_tag "Linkedin_Logotype_Button_24.png" %></a>
      </div>
      
      <div class="container">
        <p>&copy; smadan 2015</p>
      </div>
 
      <div class="container">Icons made by <a href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
      </div>
    </div>   
      
